{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {% endblock %}

{% block jumbotron %}
 <div class="jumbotron">
  
<div class="row">
    <div class="col-sm-6">
    <h1>PÁGINA DE REGISTRO</h1>
    <p>Este es el inicio de la página de registro, abajo puedes ingresar tu nombre y email para registrarte.</p>
    <p>Para ello pulsa el botón que pone "Registrar"</p>
    <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
    </p>
    </div>
<div class="col-sm-6" style="background-color:black;height:300px;"></div>
</div>
 </div>
{% endblock %}

<!-- <h1>Hola me llamo Antonio</h1> -->
{{ temp_titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12 pull-right">
        <p class="lead text-align-center">{{ titulo }}</p>
        <form method="POST" action="">{% csrf_token %}
        {{ el_form|crispy }}
        <input type="submit" value="Registrar" />
        </form>
    </div>
<div class="col-sm-3">
    <p class="lead text-align-center">Creado con Django &amp; Bootstrap</p>
</div>
<div class="col-sm-3">
    <p class="lead text-align-center">Para el trabajo de Karlitas</p>
</div>
<div class="col-sm-3">
    <p class="lead text-align-center">Por Antonio Moreono Varilla</p>
</div>
</div>

<hr/>
{% endblock %}